/* CSS */

body {
	background-color : #afcffe;
	font-family : Arial, sans-serif;
	margin : 0;
	padding : 0;
}

nav {
	width : 100%;
}

.nav1, .nav2 {
	list-style-type : none;
	grid-template-columns : repeat(auto-fit, minmax(100px,1fr));
	gap : 0;
	padding : 0;
	margin : 0;
	overflow : hidden;
	font-size : 18px;
	font-weight : 600;
}

.nav1 li,.nav2 li{
            float: left;
}

.nav1 li a,.nav2 li a{
            display: inline-block;
            color:rgb(193, 19, 19);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
}

/* .nav2 {
	    margin-top : 0;
} */

.nav1 li a : hove, .nav2 li a : hover {
	color : rgb(25, 25, 171);
}

.nav2 li : not(:last-child)::after{
	content : "l";
	color : black;
}

h1{
	display : block;
	font-size : 2em;
	margin-block-start : 0.67em;
	margin-block-end : 0.08em;
	margin-inline-start : 0px;
	margin-inline-end : 0Spx;
	font-weight : bold;
	text-align : center;
	color : white;
}



























