body {
    background-color: #afcffe;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
}
.nav1, .nav2 {
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 18px;
    font-weight: 600;
}
.nav1 li, .nav2 li {
    float: left;
}
.nav1 li a, .nav2 li a {
    display: inline-block;
    color: rgb(193, 19, 19);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav1 li a:hover, .nav2 li a:hover {
    color: rgb(25, 25, 171);
}
.nav2 li:not(:last-child)::after {
    content: " | ";
    color: black;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.3em;
    margin-block-end: 0.08em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            text-align: center;
            color: white;
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 20px;
            background-color: rgb(6, 142, 6);
            border: 4px solid white;
            border-radius: 25px;
            box-shadow: 5px 5px 5px #181818;
        }
        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .left p {
            padding: 10px;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-right: 25px;
            background-color: rgb(216, 216, 16);
            border-radius: 5px;
        }
        .dice-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .dice-container .dice {
            width: 80px;
            height: 80px;
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4em;
        }
        .right {
            flex: 1;
            border: 4px solid white;
        }
        .button-container {
            margin-top: auto;
            display: flex;
            justify-content: center;
        }
        button {
            background: linear-gradient(to bottom, white, rgb(157, 152, 152));
            font-size: 14px;
            padding: 10px 20px;
            margin-right: 200px;
            color: #333;
            box-sizing: 4px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            margin-left: 40px;
        }
        button:hover {
            background: linear-gradient(to top, white, rgb(157, 152, 152));
        }
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }
        th, td {
            border: 2px solid black;
            padding: 8px;
            text-align: left;
        }
        .held {
            border: 2px solid red;
            background-color: lightgray;
        }
.rules-section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
}

.rules-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.rules-section p, .rules-section ul {
    font-size: 16px;
    line-height: 1.6;
}

.rules-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.rules-section li {
    margin-bottom: 10px;
}

.rules-section ul ul {
    list-style-type: circle;
    padding-left: 20px;
}
.score-category.temp {
            color: red;
        }
        .score-category.final {
            color: black;
        }
        .held {
            background-color: white;
        }
        .player-container{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
        }
        .player-container img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
        }
        .player-name-input {
                display: block;
                border-radius: 10%;
                width: 140px;
        }
        .dice-numbers {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
        }
        .dice {
            font-size: 24px;
            padding: 5px;
            border: 1px solid #000;
            margin: 0 5px;
            cursor: pointer;
        }
        .dice-container {
            display: flex;
            justify-content: space-around;
            margin: 20px 0; /* Add margin to create gap */
        }
        .roll-button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0; /* Add margin to create gap */
        }
